@import "mocha.css"; 

*{
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    min-height: 0;
    font-size: 13px;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 25px;

   }
   window#waybar {
       background: rgba(0, 0, 0, 0)
   }
   
   window#waybar.hidden {
       opacity: 0.5;
   }
   
   tooltip {
       background: rgba(236,236,236, 0.1);
       border-radius: 25px;
       border-width: 2px;
       border: 1px solid #b4befe;

       
   }
   /*-----module groups----*/
   .modules-right {
       background-color: rgba(236,236,236, 0.1);
       border: 1px solid #b4befe;
       border-radius: 50px;
       padding-left: 15px;
       padding-right: 9px;

   }
   .modules-center {
       background-color: rgba(232, 236, 241, 0.1);
       border: 1px solid #b4befe;
       border-radius: 50px;
       padding-left: 9px;
       padding-right: 9px;

   }
   .modules-left {
       background-color: rgba(232, 236, 241, 0.1);
       border: 1px solid #b4befe;
       border-radius: 50px;
       padding-left: 9px;
       padding-right: 9px;

   
   }
   #workspaces button {
       padding: 2px;
       color: #585b70;
       margin-right: 5px;
   }
   
   #workspaces button.active {
       color: #b7bdf8;
       border-radius: 15px 15px 15px 15px;
   }
   
   #workspaces button.focused {
       color: #d8dee9;
       }
   
   #workspaces button.urgent {
       color: #11111b;
       border-radius: 10px;
   }
       
   #workspaces button:hover {
       color: #9CCFD8;
       border-radius: 15px;
   }
   


#pulseaudio,
#clock,
#custom-power,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#bluetooth
#tray,
#network,
#mode,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 9px;
  margin-right: 9px;
  padding-left: 4px;
  padding-right: 4px;
}

#clock {
    color: @maroon;
    border-bottom: 2px solid @maroon;
}

#custom-power {
    color: @pink;
    border-bottom: 2px solid @pink;
}

#clock.date {
    color: @mauve;
    border-bottom: 2px solid @mauve;
}

#pulseaudio {
    color: @blue;
    border-bottom: 2px solid @blue;
}

#network {
    color: @peach;
    border-bottom: 2px solid @peach;
}
#bluetooth {
    color: @green;
    border-bottom: 2px solid @green;
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @red;
}

#battery {
    color: @green;
    border-bottom: 2px solid @green;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 3px;
    margin-right: 3px;
    border-bottom: 2px solid @flamingo;

}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#custom-vpn {
    color: @lavender;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}
